/* color-scheme
#0b0c17 / #ff3571 / #dddddd / #3C30FF / #FFF / #000 */

@import 'variables.scss';
/* font-family: 'Roboto', sans-serif; */

@font-face {
    font-family: 'Roboto Bold';
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto Light';
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}

/* =================== Global Style =================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #0b0c17;
}

body{
    margin: auto;
    max-width: 1440px;
}

h1, h2, h3, #scroll{
    font-family: 'Roboto-Bold', sans-serif;
}

p, #mail, #subscribe{
    font-family: 'Roboto Light', sans-serif;
}

h1{
    font-size: 1rem;
}

h2{
    font-size: 3.5rem;
}

h3{
    margin-bottom: 10px;
}

p{
    line-height: 1.8em;
    font-size: 1.2rem;
}

.step{
    color: $colorgray;
    font-size: 3rem;
    font-family: 'Roboto Bold', sans-serif;
    margin-bottom: 1.5rem;
}

.emoji{
    font-size: 2.5rem;
}

/* =================== Header Style =================== */
header{
    background-image: url(../img/ilustracion1.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 50%;

    #logo {
        position: fixed;
        width: 40px;
        margin: 15px;
    }

    #logoText{
        padding: 20px 60px;
        #subtitle{
            font-family: 'Roboto Light';
            display: block;
        }
    }

    #titelText{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10vw;
        article{
            padding-right: 100px;
        }
        h2{
            margin-bottom: 20px;
        }
        #fallingMan{
            width: 55%;
            transform: translateY(-20%);
            animation: fallingImg 4s ease-in-out infinite;
        }
    }

    #scroll{
        color: $colorPink;
        margin-left: 10vw;
        padding-bottom: 8vh;
    }
}

/* Animation */

@keyframes fallingImg{
    0%{
        transform: translateY(-20%);
    }
    50%{
        transform: translateY(-15%);
    }
    100%{
        transform: translateY(-20%);
    }
}


/* =================== Main Style =================== */

/* =================== Main - Projects =================== */

#projects{
    margin-bottom: 8vh;
    img{
        width: 100%;
    }
}

/* =================== Main - Intro =================== */

#intro{
    margin: 5vh 8vw;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    grid-template-areas: 
    "headline text"
    "challenge challenge";
    h2:first-of-type{
        grid-area: headline;
    }
    p{
        grid-area: text;
        padding-right: 18vw;
    }
    h2:last-of-type{
        grid-area: challenge;
        padding-right: 30vw;
        margin-top: 5vh;
    }
}

#learn{
    margin: 0 8vw 8vh;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "articleOne articleTwo"
    "articleThree articleFour"
    "readyGo readyGo";

    #learnStart{
        grid-area: articleOne;
        padding-right: 8vw;
        h3{
            padding-left: 40px;
            background: no-repeat url(../img/title02.svg);
        }
        p{
            padding-left: 40px;
        }
    }

    #learnIdea{
        grid-area: articleTwo;
        padding-right: 8vw;
        h3{
            padding-left: 40px;
            background: no-repeat url(../img/title04.svg);
        }
        p{
            padding-left: 40px;
        }
    }

    #learnDesign{
        grid-area: articleThree;
        padding-right: 8vw;
        h3{
            padding-left: 40px;
            background: no-repeat url(../img/title01.svg);
        }
        p{
            padding-left: 40px;
        }
    }

    #learnShare{
        grid-area: articleFour;
        padding-right: 8vw;
        h3{
            padding-left: 40px;
            background: no-repeat url(../img/title03.svg);
        }
        p{
            padding-left: 40px;
        }
    }

    #ready{
        grid-area: readyGo;
        text-align: center;
        margin-top: 5vh;
        h2{
            margin-bottom: 1rem;
        }
        p{
            padding: 0 18vw;
        }
    }
}

#steps{
    margin: 0 8vw 8vh;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2,1fr) ;
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: "imgOne textOne"
    "textTwo imgTwo"
    "imgThree textThree"
    "textFour imgFour";
    #stepImgOne{
        grid-area: imgOne;
        background-image: url(../img/step01.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    #stepOne{
        grid-area: textOne;
    }
    #stepTwo{
        grid-area: textTwo;
    }
    #stepImgTwo{
        grid-area: imgTwo;
        background-image: url(../img/step02.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    #stepImgThree{
        grid-area: imgThree;
        background-image: url(../img/step03.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    #stepThree{
        grid-area: textThree;
    }
    #stepFour{
        grid-area: textFour;
    }
    #stepImgFour{
        grid-area: imgFour;
        background-image: url(../img/step04.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
}

/* =================== Footer Style =================== */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    #footerText{
        margin-bottom: 2rem;
        h2{
            margin-bottom: 1.5rem;
        }
    }
    #mail{
        text-align: center;
        padding: 0.6rem 6rem;
        border: none;
        box-shadow: 0px 8px 15px 3px $colorgray;
        font-size: 1.2rem;
    }
    #subscribe{
        font-size: 1.2rem;
        display: block;
        margin: 1.5rem auto 4rem;
        color: $colorWhite;
        background-color: $colorPink;
        border: none;
        padding: 10px 40px;
        cursor: pointer;
        &:hover{
            background: linear-gradient(45deg, rgba(255,53,113,1) 0%, rgba(60,48,255,1) 69%);
        }
    }
    
    #signature{
        align-self: flex-start;
        margin-left: 8vw;
        font-size: 1rem;
    }
}


/* =================== Media queries for Tablet =================== */

@import 'mqtablet.scss';

/* =================== Media queries for Smartphone =================== */

@media only screen and (max-width: 576px){
    h1{
        font-size: 0.7rem;
    }
    
    h2{
        font-size: 1.5rem;
    }
    
    h3{
        margin-bottom: 10px;
        font-size: 1.3rem;
    }
    
    p{
        line-height: 1.8em;
        font-size: 0.8rem;
    }
    
    .step{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    .emoji{
        font-size: 2rem;
    }

    header{
        #logo {
            width: 30px;
        }
        #titelText{
            article{
                padding-right: 0;
            }
        }
        #scroll{
            padding: 3vh 0;
        }
    }
}
@keyframes fallingImg{
    0%{
        transform: translateY(-90%);
    }
    50%{
        transform: translateY(-85%);
    }
    100%{
        transform: translateY(-90%);
    }
}

#intro{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    p{
        padding: 0;
    }
    h2:last-of-type{
        padding: 0;
        margin: 0;
    }
}

#learn{
    display: flex;
    flex-wrap: wrap;
    #learnStart{
        h3{
            padding-left: 50px;
        }
        p{
            padding-left: 50px;
        }
    }

    #learnIdea{
        h3{
            padding-left: 50px;
        }
        p{
            padding-left: 50px;
        }
    }

    #learnDesign{
        h3{
            padding-left: 50px;
        }
        p{
            padding-left: 50px;
        }
    }

    #learnShare{
        h3{
            padding-left: 50px;
        }
        p{
            padding-left: 50px;
        }
    }

    #ready{
        p{
            padding: 0;
        }
    }
}

#steps{
    display: flex;
    flex-wrap: wrap;
    div{
        height: 30vh;
        width: 100%;
    }
}

footer{
    margin: 0 2vw;
    #mail{
        padding: 2vh 15vw;
        font-size: 0.8rem;
    }
    #subscribe{
        font-size: 0.8rem;
    }
    
    #signature{
        align-self: center;
        font-size: 0.8rem;
    }
}