@media only screen{
    *{
        transition: all 0.7s linear;
    }
    
    h1{
        font-size: 0.7rem;
    }
    
    h2{
        font-size: 1.5rem;
    }
    
    h3{
        margin-bottom: 10px;
        font-size: 1.3rem;
    }
    
    p{
        line-height: 1.8em;
        font-size: 0.8rem;
    }
    
    .step{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    .emoji{
        font-size: 2rem;
    }

    header{
        #logo {
            width: 30px;
        }
        #titelText{
            article{
                padding-right: 0;
            }
        }
        #scroll{
            padding: 3vh 0;
        }
    }
}

#intro{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    p{
        padding: 0;
    }
    h2:last-of-type{
        padding: 0;
        margin: 0;
    }
}

#learn{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    #learnStart, #learnIdea, #learnDesign, #learnShare{
        h3{
            padding-left: 60px;
        }
        p{
            padding-left: 60px;
        }
    }
    #ready{
        p{
            padding: 0;
        }
    }
}

#steps{
    display: flex;
    flex-wrap: wrap;
    div{
        height: 30vh;
        width: 100%;
    }
}

footer{
    margin: 0 2vw;
    #mail{
        padding: 2vh 15vw;
        font-size: 0.8rem;
    }
    #subscribe{
        font-size: 0.8rem;
    }
    
    #signature{
        align-self: center;
        font-size: 0.8rem;
    }
}