/* color-scheme
#0b0c17 / #ff3571 / #dddddd / #3C30FF / #FFF / #000 */
/* font-family: 'Roboto', sans-serif; */
@font-face {
  font-family: "Roboto Bold";
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto Light";
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}
/* =================== Global Style =================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #0b0c17;
  transition: all 0.7s linear;
}

body {
  margin: auto;
  max-width: 1440px;
}

h1, h2, h3, #scroll {
  font-family: "Roboto-Bold", sans-serif;
}

p, #mail, #subscribe {
  font-family: "Roboto Light", sans-serif;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  margin-bottom: 10px;
}

p {
  line-height: 1.8em;
  font-size: 1.2rem;
}

.step {
  color: #dddddd;
  font-size: 3rem;
  font-family: "Roboto Bold", sans-serif;
  margin-bottom: 4vh;
}

.emoji {
  font-size: 2.5rem;
}

/* =================== Header Style =================== */
header {
  background-image: url(../img/ilustracion1.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 50%;
}
header #logo {
  position: fixed;
  width: 40px;
  margin: 15px;
}
header #logoText {
  padding: 20px 60px;
}
header #logoText #subtitle {
  font-family: "Roboto Light";
  display: block;
}
header #titelText {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10vw;
}
header #titelText article {
  padding-right: 100px;
}
header #titelText h2 {
  margin-bottom: 20px;
}
header #titelText #fallingMan {
  max-width: 55%;
  height: auto;
  transform: translateY(-20%);
  animation: fallingImg 4s ease-in-out infinite;
}
header #scroll {
  color: #ff3571;
  margin-left: 10vw;
  padding-bottom: 8vh;
}

/* Animation */
@keyframes fallingImg {
  0% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(-20%);
  }
}
/* =================== Main Style =================== */
/* =================== Main - Projects =================== */
#projects {
  margin-bottom: 8vh;
}
#projects img {
  width: 100%;
}

/* =================== Main - Intro =================== */
#intro {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  margin: 5vh 8vw;
  gap: 30px;
  grid-template-areas: "headline text" "challenge challenge";
}
#intro h2:first-of-type {
  grid-area: headline;
}
#intro p {
  grid-area: text;
  padding-right: 18vw;
}
#intro h2:last-of-type {
  grid-area: challenge;
  padding-right: 30vw;
  margin-top: 5vh;
}

#learn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0 8vw 8vh;
  gap: 20px;
  grid-template-areas: "articleOne articleTwo" "articleThree articleFour" "readyGo readyGo";
}
#learn #learnStart, #learn #learnIdea, #learn #learnDesign, #learn #learnShare {
  padding-right: 8vw;
}
#learn #learnStart h3, #learn #learnIdea h3, #learn #learnDesign h3, #learn #learnShare h3 {
  padding-left: 40px;
}
#learn #learnStart p, #learn #learnIdea p, #learn #learnDesign p, #learn #learnShare p {
  padding-left: 40px;
}
#learn #learnStart {
  grid-area: articleOne;
}
#learn #learnStart h3 {
  background: no-repeat url(../img/title02.svg);
}
#learn #learnIdea {
  grid-area: articleTwo;
}
#learn #learnIdea h3 {
  background: no-repeat url(../img/title04.svg);
}
#learn #learnDesign {
  grid-area: articleThree;
}
#learn #learnDesign h3 {
  background: no-repeat url(../img/title01.svg);
}
#learn #learnShare {
  grid-area: articleFour;
}
#learn #learnShare h3 {
  background: no-repeat url(../img/title03.svg);
}
#learn #ready {
  grid-area: readyGo;
  text-align: center;
  margin-top: 5vh;
}
#learn #ready h2 {
  margin-bottom: 1rem;
}
#learn #ready p {
  padding: 0 18vw;
}

#steps {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin: 0 8vw 8vh;
  gap: 30px;
  grid-template-areas: "imgOne textOne" "textTwo imgTwo" "imgThree textThree" "textFour imgFour";
}
#steps #stepImgOne {
  grid-area: imgOne;
  background-image: url(../img/step01.png);
  background-repeat: no-repeat;
  background-size: contain;
}
#steps #stepOne {
  grid-area: textOne;
}
#steps #stepTwo {
  grid-area: textTwo;
}
#steps #stepImgTwo {
  grid-area: imgTwo;
  background-image: url(../img/step02.png);
  background-repeat: no-repeat;
  background-size: contain;
}
#steps #stepImgThree {
  grid-area: imgThree;
  background-image: url(../img/step03.png);
  background-repeat: no-repeat;
  background-size: contain;
}
#steps #stepThree {
  grid-area: textThree;
}
#steps #stepFour {
  grid-area: textFour;
}
#steps #stepImgFour {
  grid-area: imgFour;
  background-image: url(../img/step04.png);
  background-repeat: no-repeat;
  background-size: contain;
}

/* =================== Footer Style =================== */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer #footerText {
  margin-bottom: 2vh;
}
footer #footerText h2 {
  margin-bottom: 1.5rem;
}
footer #mail {
  text-align: center;
  padding: 0.6rem 6rem;
  border: none;
  box-shadow: 0px 8px 15px 3px #dddddd;
  font-size: 1.2rem;
}
footer #btnSubscribe, footer #btnBackHome {
  font-size: 1rem;
  display: block;
  margin: 1.5rem auto 4rem;
  color: #FFF;
  background-color: #ff3571;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
}
footer #btnSubscribe:hover, footer #btnBackHome:hover {
  background: linear-gradient(45deg, rgb(255, 53, 113) 0%, rgb(60, 48, 255) 69%);
}
footer #submitConfirm {
  display: none;
  margin: 2vh 8vw;
  padding: 3vh 6vw;
  border: none;
  box-shadow: 0px 8px 15px 3px #dddddd;
}
footer #signature {
  align-self: flex-start;
  margin-left: 8vw;
  font-size: 1rem;
}

/* =================== Media queries for Tablet =================== */
@media only screen and (max-width: 768px) {
  * {
    transition: all 0.7s linear;
  }
  h1 {
    font-size: 0.8rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 0.8rem;
  }
  p {
    line-height: 1.5em;
    font-size: 0.8rem;
  }
  .step {
    font-size: 2rem;
  }
  .emoji {
    font-size: 2rem;
  }
  header #titelText article {
    padding-right: 0px;
  }
  header #scroll {
    margin: 0 10vw;
    padding-bottom: 3vh;
  }
  #intro {
    margin: 2vh 4vw;
  }
  #intro p {
    padding-right: 10vw;
  }
  #intro h2:last-of-type {
    padding-right: 20vw;
    margin-top: 0;
  }
  #learn {
    gap: 0;
  }
  #learn #ready {
    margin-top: 2vh;
  }
  #learn #ready p {
    padding: 0 10vw;
  }
  footer #mail {
    font-size: 1rem;
  }
  footer #subscribe {
    font-size: 0.9rem;
  }
  footer #signature {
    font-size: 0.7rem;
  }
}
/* =================== Media queries for Smartphone =================== */
@media only screen and (max-width: 576px) {
  * {
    transition: all 0.7s linear;
  }
  h1 {
    font-size: 0.7rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    margin-bottom: 10px;
    font-size: 1.3rem;
  }
  p {
    line-height: 1.8em;
    font-size: 0.8rem;
  }
  .step {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .emoji {
    font-size: 2rem;
  }
  header #logo {
    width: 30px;
  }
  header #titelText article {
    padding-right: 0;
  }
  header #scroll {
    padding: 3vh 0;
  }
}
@media only screen and (max-width: 576px) {
  #intro {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  #intro p {
    padding: 0;
  }
  #intro h2:last-of-type {
    padding: 0;
    margin: 0;
  }
}
@media only screen and (max-width: 576px) {
  #learn {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  #learn #learnStart h3, #learn #learnIdea h3, #learn #learnDesign h3, #learn #learnShare h3 {
    padding-left: 60px;
  }
  #learn #learnStart p, #learn #learnIdea p, #learn #learnDesign p, #learn #learnShare p {
    padding-left: 60px;
  }
  #learn #ready p {
    padding: 0;
  }
}
@media only screen and (max-width: 576px) {
  #steps {
    display: flex;
    flex-wrap: wrap;
  }
  #steps div {
    height: 30vh;
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  footer {
    margin: 0 2vw;
  }
  footer #mail {
    padding: 2vh 15vw;
    font-size: 0.8rem;
  }
  footer #subscribe {
    font-size: 0.8rem;
  }
  footer #signature {
    align-self: center;
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
